{% extends 'blog/base.html' %}

{% block main_area %}

<h1>Blog {% if category%}<span class="'badge badge-secondary">{{category}}</span>{% endif %}</h1>

{% if user.is_authenticated %}
{% if user.is_staff or user.is_superuser %}
<a class="btn btn-success btn-lg float-right" href="/blog/create_post/" role="button">New Post</a>
{% endif %}
{% endif %}

{% if post_list.exists %}
{% for p in post_list%}
<!-- Blog post-->
<div class="card mb-4" id="post-{{p.pk}}">
    {% if p.head_image %}
    <a href="#!"><img class="card-img-top" src="{{p.head_image.url}}" alt="no head image"></a>
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200" alt="random_image">
    {% endif %}
    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-secondary float-right">{{p.category}}</span>
        {% else %}
        <span class="badge badge-secondary float-right">未分類</span>
        {% endif %}
        <div class="small text-muted">{{p.created_at}}</div>
        <h2 class="card-title h4">{{p.title}}</h2>
        <p class="card-text">{{p.content|truncatewords:30}}</p>
        <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{p.created_at}} by
        <a href="#">{{p.author | upper}}</a>
    </div>
</div>
{% endfor %}
{% else %}
<h3>no post yet</h3>
{% endif %}
{% endblock %}