{% extends 'blog/base.html' %}
{% block head_title %}Post List{% endblock %}
{% block main-area %}

<!--Button : Create Post-->
{% if user.is_authenticated %}
{% if user.is_superuser or user.is_staff %}
<a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i
        class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
{% endif %}
{% endif %}
<h1>Menu
    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
    {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
</h1>
{% for p in post_list %}
<!-- Blog post-->
<div class="card mb-4" id="post-{{ p.pk }}">
    <div class="card-body">
        {% if p.category %}
        <span class="badge badge-secondary float-right">{{ p.category }}</span>
        {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h2 class="card-title">{{ p.title }}</h2>
        <p class="card-text">{{ p.content }}</p>
        <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{ p.created_at }} by
        <a href="#">작성자명(개발예정)</a>
    </div>
</div>
{% endfor %}

{% endblock %}