{% extends 'blog/base.html' %}

{% block main_area %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <div id="post-area">
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                        {% if post.category %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="#">{{post.category}}</a>
                        {% else %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="#">未分類</a>
                        {% endif%}
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
                        <!-- Post categories-->

                    </header>
                    {% if user.is_authenticated and user == post.author %}

                    <a class="btn btn-success btn-sm float-right" href="/blog/update_post/{{post.pk}}"
                        role="button">Edit Post</a>
                    <a class="btn btn-danger btn-sm float-right ml-2" href="/blog/delete_post/{{post.pk}}/"
                        role="button">Delete Post </a>
                    {% endif %}
                    <!-- Preview image figure-->
                    {% if post.head_image %}
                    <figure class="mt-4 mb-4"><img class="img-fluid rounded" src="{{post.head_image.url}}" alt="..." />
                        {% else %}
                        <img class="mt-4 mb-4 img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200"
                            alt="random_image">
                        {% endif %}
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{post.get_content_markdown|safe }}</p>

                    </section>
                    {% if post.file_upload %}
                    <a href="{{post.file_upload.url}}" class="btn btn-outline-dark" role="button" download>Download</a>
                    {% endif %}
                </article>
            </div>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light" id="comment-area">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if user.is_authenticated %}
                        <form id="comment-form" method="POST" action="{{post.get_absolute_url}}/new_comment/">
                            {% csrf_token %}
                            <div class="form-group">
                                {{comment_form}}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        {% else %}
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal"
                            data-target="#loginModal">Log in and leave a commnet</a>
                        {% endif %}

                        {% if post.comment_set.exists %}
                        {% for comment in post.comment_set.iterator %}
                        <!-- Single comment-->
                        <div class="media mb-4" id="comment-{{comment.pk}}">
                            <div class="media-body">
                                <h5 class="mt-0">{{comment.author.username }}::{{comment.created_at}}</h5>
                                <p>{{comment.content|linebreaks }}</p>
                                {% if user.is_authenticated and comment.author == user %}
                                <a role="button" class="btn btn-sm btn-info float-right"
                                    id="comment-{{comment.pk}}-update-btn" href="/blog/update_comment/{{comment.pk}}/"
                                    style="float: right;">
                                    edit
                                </a>
                                {% endif %}
                                {% if comment.created_at != comment.modified_at %}
                                <p class="text-muted float-right"><small>Updated:{{comment.modified_at}}</small></p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <hr />
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}