{% extends 'blog/base_full_width.html' %}

{% block head_title %}Create Post - Blog{% endblock %}
{% block main-area %}
<h1>Create New Post</h1>
<hr />


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>Main Ingredients</h3>
    {{ formset.management_form }}
    <div id="main-ingredients">
        {% for form in formset %}
            <div class="ingredient-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-ingredient" class="btn btn-secondary">Add Ingredient</button>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>

<script>
    document.getElementById('add-ingredient').addEventListener('click', function() {
        var formIndex = document.querySelectorAll('.ingredient-form').length;
        var newForm = document.createElement('div');
        newForm.classList.add('ingredient-form');
        var emptyForm = '{{ formset.empty_form.as_p|escapejs }}';
        newForm.innerHTML = emptyForm.replace(/__prefix__/g, formIndex);
        document.getElementById('main-ingredients').appendChild(newForm);
    });
</script>


{% endblock %}



