{% extends 'blog/base.html' %}
{% block main-area %}
<h1>Blog</h1>
{% for p in post_list %}
<!-- Blog post-->
<div class="card mb-4" id="posr-{{p.pk}}">
    <div class="card-body">
        {% if p.cateory %}
        <span class="badge badge-secondary float-right">{{p.category}}</span>
        {% else %}
        <span class="badge badge-secondary float-right">미분류</span>
        {% endif %}
        <h2 class="'card-title">{{p.title}}</h2>
        <p class="card-text">{{p.content}}</p>
        <a href="{{p.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{p.created_at}} by
        <a href="#">작성자명(개발예정)</a>
    </div>
</div>
{% endfor %}


{% endblock %}

<!--
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
    </head>

    <body>
        <nav>
            <a href="/">Main</a>
            <a href="/blog/">Blog</a>
            <a href="/about_me/">About Me</a>
        </nav>
        <h1>Blog</h1>
        {% for p in post_list %}
        <hr />
        <h2><a href='{{p.get_absolute_url}}'>{{p.title}}</a></h2>
        <h4>{{p.created_at}}</h4>
        <p>{{p.content}}</p>
        {% endfor %}
    </body>
-->