<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="{% static 'single_pages/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
</head>

<body>
    {% include 'blog/navbar.html' %}
    <div class="container">
        <div class="row my-3">
            <div class="container">
                <div class="row">
                    <div class="col-8 bg-info">
                        Column
                    </div>
                    <div class="col-4 bg-secondary">
                        Column
                    </div>

                </div>
            </div>
        </div>
        <section>
            <div class="container mt-4">
                <div class="row">
                    <h1>Profile</h1>
                    <div class="col-sm col-lg-5">
                        <img src="{% static '/single_pages/images/IMG_4739.JPG' %}" class="img-fluid w-50">
                    </div>
                    <div class="col-sm col-lg-7">
                        <h3>自己紹介</h3>
                        <h4>パク・ソルミ（Park SolMi）</h4>
                        <p>
                            日常生活に肯定的な影響を与えるシステムエンジニアを目指しています。
                        </p>
                        <ul>
                            <li>学歴</li>
                            <ul>
                                <li>高校 : 浦項儒星女子高等学校（理系）</li>
                                <li>大学 : 釜山大学自然科学統計学　卒業　</li>
                            </ul>
                            <li>Projects</li>
                            <ul>
                                <ul>
                                    <li>MySimpleBlog</li>
                                </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light margin-for-footer">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-12">
                        <h1>PORTFOLIO</h1>
                        <div class="row">
                            <div class="col">
                                <div class="card" data-bs-toggle="modal" data-bs-target="#pofol1">
                                    <img src="{% static '/single_pages/images/3.JPG' %}" class="img-fluid w-100">
                                    <div class="card-body">
                                        <h5 class="card-title">MySimpleBlog</h5>
                                        <p>Django</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class=" col">-->
                            <!--    <div class="card" data-bs-toggle="modal" data-bs-target="#pofol2">-->
                            <!--        <img src="{% static '/single_pages/images/2.JPG' %}" class="img-fluid w-100">-->
                            <!--        <div class="card-body">-->
                            <!--            <h5 class="card-title">データ分析プロジェクト</h5>-->
                            <!--            <p>Naver boostcouse</p>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--</div>-->
                            <div class=" col">
                                <div class="card" data-bs-toggle="modal" data-bs-target="#pofol3">
                                    <img src="{% static '/single_pages/images/1.JPG' %}" class="img-fluid w-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Web Scrapper using Go</h5>
                                        <p>web Scrapper</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--Modal-->
    <div class="modal fade" id="pofol1" tabindex="-1" role="dialog" aria-labelledby="pofol1ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="documment">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Modal Header</h5>

                </div>
                <div class="modal-body">
                    <h4><a href="https://github.com/recon-reco/MySimpleBlog">MySimpleBlog GitHub Repo!</a></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pofol2" tabindex="-1" role="dialog" aria-labelledby="pofol2ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="documment">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Modal Header</h5>

                </div>
                <div class="modal-body">
                    <h4><a href="주피터 노트북으로 분석 보고서를 만들어서 깃헙에 올리자!">データ分析　Repo!</a></h4>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="pofol3" tabindex="-1" role="dialog" aria-labelledby="pofol3ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="documment">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Modal Header</h5>
                </div>
                <div class="modal-body">
                    <h4><a href="https://github.com/recon-reco/Start-Go">Web Scrapper using Go GitHub Repo!</a></h4>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>